<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (user) { %>
      <p>Saludos <%= user %></p>
    <% } else { %>
      <p>Fail</p>
    <% } %>
  </body>
</html>
